    <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>Get in touch to find out more</h2>
      <ul class="list-inline list-social">
        <li class="list-inline-item social-twitter">
          <a href="https://twitter.com/appertauk?lang=en">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item social-facebook">
          <a href="mailto: info@apperta.org">
            <i class="fa fa-at"></i>
          </a>
        </li>
        <!--<li class="list-inline-item social-google-plus">
          <a href="#">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>-->
      </ul>
    </div>
  </section>
  
  <footer>
    <div class="container">
      <p>&copy; The Apperta Foundation CIC is a limited company (registration number 09483987)<br>

Our registered address is Sunderland Software Centre, Tavistock Place, Sunderland, Tyne And Wear, England, SR1 1PB<br>
      
      The Apperta Foundation is not responsible for content found on external sites, linked from this website.</br></p>
      <ul class="list-inline">
        <!--<li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>-->

      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/new-age.min.js"></script>

</body>

</html>